<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap" rel="stylesheet">
  <style>
body {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  max-width: 550px;
  background: -webkit-gradient(linear,left top,left bottom,from(#39a99c),to(hsla(0,0%,100%,0))),#145b32;
  background: linear-gradient(180deg,#39a99c,hsla(0,0%,100%,0)),#145b32;
  min-height: 100vh;
  color: white;
  line-height: 1.4;
  font-family: 'Nunito Sans', sans-serif;
}
.reset-password-title {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
.reset-password-button {
  background: #005b61;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  max-width: 300px;
  padding: 10px;
  width: 100%;
}
.notice {
  margin-top: 5px;
  font-size: 0.7rem;
  color: #ffffff8a;
}
p {
  max-width: 500px;
  margin: 2rem auto;
}
.ending {
  font-size: 0.8rem;
  border-top: 1.5px solid #ffffff6a;
  padding-top: 1rem;
}
  </style>
</head>
<body>
  <a target="_blank"
     rel="noopener noreferrer"
     href="https://tot.bio">
     <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="none" viewBox="-135.78611898017 0 502.57223796034 231" style="cursor: default;"><circle cx="115.4" cy="115.5" r="114.6" fill="#005B61"/><path d="M129.3 160.6c-.9.8-1.1 4.4-.4 5.1.3.2 1.3.4 2.3.4 1.4 0 2-.4 2.5-1.6 1.1-3-2.2-6-4.4-4zM151.8 160.2c-2.7-1-5 1.9-3.4 4.6.8 1.6 3.6 1.6 4.7 0 .8-1.3 0-4.1-1.3-4.6zM118 130.1c-2 3.5-.8 9.1 2 10.7 1.9 1.1 5.6.8 7.4-.6 5.1-4 2.7-13.2-3.5-13.2-3.2 0-4.8.8-6 3.1z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M137.2 38.7s22.2 34.5 9 54l3.9-.4a25 25 0 0122.3 39.4 25 25 0 01-4 49.7h-111a25 25 0 01-4.4-49.6 25 25 0 0121.5-33.6l9.9-.8c-7.3-7.4-6-18.7 1.5-27.6 6-7.4 13.3-9.4 21-11.6a48.5 48.5 0 0030.3-19.5zM122.7 166c.6 1 .6 1.6 0 2.3-1.7 2-5.5 0-4-2.2 1-1.6 3.2-1.6 4 0zm14.1-3c0 1.5-.4 3.3-1 4-1 1.6-3.2 2.2-5.1 1.5-.7-.2-2.2-.3-3.3-.1l-2.1.3v-15.3h1.6c1.4 0 1.6.3 1.6 2.6 0 2.3.1 2.4 1.2 1.8 3.7-1.9 7.1.6 7.1 5.1zm20-.5c0 2.7-1.8 5.2-4 6-1.1.4-2 .7-2.1.6l-2.1-.6c-2.3-.7-4-3.2-4-6 0-2.5 3.1-5.3 6-5.3 3 0 6.1 2.8 6.1 5.3zm-16-5.2c1.4.2 1.5.5 1.7 5.7l.2 5.6H141c-1.6 0-1.6 0-1.6-5.8 0-5.5 0-5.7 1.4-5.5zm-1.4-3.9c.7-1.2 2.9-.5 2.9 1 0 .8-.5 1.3-1.4 1.4-1.5.2-2.3-1-1.5-2.4zm-2-19.2c0 5.8-4 11.4-9.4 12.9-9.8 2.6-18.3-3.3-18.3-13a13 13 0 0113.5-13.5c8.2 0 14.2 5.8 14.2 13.6zm19.2 9.4c.5 1.8.4 2.3-.3 3-.5.4-2.4.8-4.3 1-3.5.2-6.3-.9-7.2-2.9-.3-.6-.7-4.8-.9-9.3l-.3-8.2-2.1-.2c-2-.2-2.1-.3-2.1-3 0-2.8 0-2.8 2.2-2.8h2.3v-7h7v7h5.2v2.8c0 2.8 0 2.8-2.4 3l-2.4.2-.2 5.7c-.3 7.7 0 8.5 2.6 8.5 2 0 2.3.3 2.9 2.2zm-55-25.5v29h-8.4v-29H82.9v-7h28.9v7h-10.3zM96.1 82l6.4-6.4 7.6 7.6 24-24 6.4 6.3L110.2 96l-14-14z" fill="#fff"/><rect x="0" y="0" rx="0.01" width="0" height="0" opacity="1" stroke="blue" stroke-width="1" fill="blue" fill-opacity="0.1"/></svg>
  </a>
  <h1 class="reset-password-title">
     Reset Password
  </h1>
  <p>Someone told us that you want to reset your "{{username}}" Tot.bio account.
    <br>If this is true, click here to get a new one:
  </p>
  <a href="https://tot.bio{{link}}" class="reset-password-button">Reset Password</a>
  <div class="notice">
    This link will be expired in 3 hours
  </div>
  <p>If this isn't you, just ignore and delete this mail.<br>Your password
  will not be changed.
  </p>
  <p class="ending">PoTay Team - University of Indonesia
  <br>Faculty of Computer Science, University of Indonesia
  <br>Jl. Prof. Dr. Nugroho Notosusanto - UI Depok Campus
  <br>Depok, Indonesia 16424
  </p>
</body>

</html>
